[submodule "Noble Engine"]
	path = source/libraries/noble
	url = https://github.com/NobleRobot/NobleEngine.git

[submodule "MrBot Core"]
    path = source/libraries/core
    url = https://github.com/Scribilicious/PlaydateCore.git
[submodule "source/libraries/core"]
	path = source/libraries/core
	url = git@github.com:Scribilicious/PlaydateCore.git
